@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
 * {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    scroll-behavior: smooth;
    box-sizing: border-box;

    font-family: "Roboto Condensed", sans-serif;
}


body {
  margin: 0;
  background: #000000;
}

.parallax-wrapper {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.background {
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
}

.projGrid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.proj{
  background-color: blueviolet;
  background-image: url("../IMAGES/parralax.jpeg");
  color: aqua;
  background-size: cover;

  height: 256px;
  width: 512px;
  margin: 10px;
}

.proj:hover{
  box-shadow: 0 0 10px aqua;
}

.proj .projTitlehov{
  opacity: 0;
  text-align: center;
  position: relative;
  top: -16%;
  line-height: 140%;
  left: 0;
  font-size: 32px;
  width: 100%;
  height: 101%;
  background-color: #282e34a1;
}

.proj:hover .projTitlehov{
  opacity: 1;
}

#xyzDevloper{
    color: aqua;
}

.background--title {
  background-image: url("../IMAGES/parralax.jpeg");
}

.background--proj {
  background-image: url("../IMAGES/projects.png");
}

.background--time {
  background-image: url("../IMAGES/timeline.png");
}

.background--timeline {
  background-image: url("../IMAGES/time.png");
}

.title {
  position: absolute;
  margin: 0;
  top: calc(50% - 50px);
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  height: auto;
  color: white;
  font-size: 5rem;
  background: rgba(0, 0, 0, 0.8);
}

.section-desc {
  z-index: 1;
  position: relative;
  background: #000000;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 2em;
  padding: 3rem;
  height: auto;
  margin: 0;
  display: flex;
  padding: 10%;
  box-shadow: 0 0 25px aqua;
}
.section-desc .desc-wrapper {
  margin: auto;
  box-sizing: border-box;
}
.section-desc .section--title {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 20px 0;
}
.section-desc .section--about {
  margin-top: 50px;
  padding: 0;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  border-radius: 0 !important;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 998px) and (orientation: portrait) {
  .section-desc {
    padding: 1.5rem 20px;
    font-size: 1rem;
    height: unset;
    min-height: 100vh;
  }
  .section-desc .section-title {
    font-size: 2.5rem;
    margin: 20px 0;
    letter-spacing: unset;
  }
  .section-desc .section-about {
    margin-top: 20px;
  }
}