.maxid{
    width: 100%;
    min-height: 240px;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 60px;
}

.maxid h1{
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
}

.maxid img{
    position: relative;
    z-index: 2;
}

.dashedbg{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2300EBFFFF' stroke-width='6' stroke-dasharray='13%2c 16' stroke-dashoffset='91' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 100px;
    position: relative;
    width: 180px;
    height: 180px;
    margin-bottom: -195px;
    top: -195px;
    left: 10px;
    z-index: 1;
    opacity: 0.5;
    animation: dash 5s infinite;

}

.dash2{

    top: -185px;
    animation: dash 7s reverse infinite;

}

@keyframes dash{
    0%{
        transition: rotate(0deg);
        scale: 0.8;
    }
    50%{
        transform: rotate(360deg);
        scale: 1.2;
    }
    100%{
        transform: rotate(720deg);
        scale: 0.8;
    }
}

.accountchip{
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #242424;
    scale: 1.2;
}

.accountchip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgba(0, 235, 255, 0.25);
}