.header{
    width: 100vw;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.55);
}

.headerContent{
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    height: 100%;
}

.headerContent button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.background{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 3%;

}


.collumn{
    width: 100%;
    height: 100%;
}

.collumn img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    transform: translateY(0px);
}